<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
      <form action="" method="POST" autocomplete="off">
        <table>
            <tr>
                <td>
                    <label for="name">Category Name</label>
                </td>
                <td>
                    <input type="text" name="name" id="name" placeholder="Enter category name">
                </td>
            </tr>
            
            <tr>
                <td>
                    <button type="submit">Save</button>
                    <button type="reset">Reset</button>
                    <a href="{{ url_for('index')}}">Home</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>